body{
    background-color: rgb(255, 255, 255);
}
h2 {
    text-align: center;
    color: rgb(0, 97, 97);
    font-weight: bold;
}
td{
    text-align: center;
}



.one{
    color: brown;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    
    
}
.two{
    color: rgb(81, 0, 255);
    background-color: rgb(103, 182, 255);
    padding: 5px;
    
    
}
.four{
    color:rgb(255, 0, 85)
}
.show {
    background-color: red;
    border-radius: 5%;
    padding: 5px;
    margin: 1px;
    border-color: black;
    text-align: center;

}

.update{
    background-color: blue;
    border-radius: 5%;
    padding: 1%;
    margin: 1px;
    border-color: black;
    text-align: center;
}
.delete {
    background-color: green;
    border-radius: 5%;
    padding: 1%;
    margin: 1px;
    border-color: black;
    text-align: center;
}