td{
    text-align: center;

}
h2{
    text-align: center;
    background-color: rgb(69, 69, 255);
    color: aliceblue;
    border-radius: 20px;
    padding: 5px;
    
}
body{
    background-color: rgb(207, 207, 255);
}
th{
    height: 40px;
    font-size: 20px;
    background-color: rgb(255, 192, 192);
    padding: 5px;
}
tr{
    height: 40px;
    font-size: 18px;
}
.bookname{
    background-color: rgb(60, 248, 223);
}
.serialno{
    background-color: rgb(42, 124, 124);
}
.action{
    background-color: rgb(42, 124, 124);
}
.tr1{
    background-color: rgb(92, 180, 240);
}
.tr2{
    background-color: rgb(140, 143, 145);
}
.tr3{
    background-color: rgb(92, 180, 240);
}
.tr4{
    
    background-color: rgb(140, 143, 145);
}
.tr5{
    background-color: rgb(92, 180, 240);
}
.tr6{
    
    background-color: rgb(140, 143, 145);
}
.show{
    background-color: red;
    padding: 5px;
    margin: 2px;
    
}
.update{
    background-color: blue;
    padding: 5px;
    margin: 2px;
}
.delete{
    background-color:green;
    padding: 5px;
    margin: 2px;
}
.excel{
    background-color: red;
}
.pdf{
    background-color: blue;
}
.word{
    background-color: greenyellow;
}
.email{
    background-color: cadetblue;
}